@import url('https://fonts.googleapis.com/css2?family=NTR&display=swap');

#intro {
    font-family: 'NTR', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15%;
    padding-top: 5%;
    min-height: 100vh;
    
}

.Typist {
    color: #a8b2d1;
    text-align: center;
    font-size: 96px;
    /* margin-top: 60px; */
    height: auto;
    width: auto;
    padding: 0;
    border-radius: 0;
  }
  .Typist .Cursor--blinking {
    color: #64ffda;;
    padding-left: 4px;
    line-height: 114px;
  }
  .Cursor--blinking {
      height: 114px;
      width: 20px;
  }

  .Typist .Cursor {
    display: inline-block; }
    .Typist .Cursor--blinking {
      opacity: 1;
      animation: blink 1s linear infinite; }
  
  @keyframes blink {
    0% {
      opacity: 1; }
    50% {
      opacity: 0; }
    100% {
      opacity: 1; } }
  


.nameLine {
    color: #8892B0;
    font-family: 'NTR', sans-serif;
    font-size: 86px;
    line-height: 129px;
    height: auto;
    width: auto;
    display: inline; /*this stupid line makes the cursor on the same line*/
    padding: 0;
}
.name {
    color: #64ffda;
}

.stuff {
    color: #8892B0;
    font-size: 55px;
    font-weight: 300;
    height: 82px;
    text-align: left;
    width: 1224px;
    padding: 0;
    margin-top: -60px;
}
.intropar {
    color:#8892B0;
    text-align: left;
    max-width: 55%;
    font-size: 22px;
    line-height: 30px;
    margin-top:-16px;
}

.strikedout {font-size: 10px;}

.emailink {
    border: 1px solid #64ffda;
    margin-top: 5%;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 150px;
    text-decoration: none;
    /* color: #64ffda;
    text-decoration: none;
    
    
    padding: 20px 20px 10px 20px;
    font-size: 22px;
    font-weight: 700;
    
    line-height: 33px; */

}

.EmailRoundedIcon {
  color: #64ffda;
}


.emailink:hover {
    background-color: #233554;
    transition: 0.3s;
}

.contact-text {
    color: #64ffda;
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
}