#sidelogo {
    height: 80px;
    width:70px;
    position: fixed;
    z-index: 3;
    padding-top: 60px;
    padding-left: 4%;
    
}

@media screen and (max-width: 600px) {

    #sidelogo {
        display: none;
    }
}